# PostgreSQL Configuration
PG_HOST=localhost
PG_PORT=5432
PG_USERNAME=postgres
PG_PASSWORD=
PG_DATABASE=

# MongoDB Configuration
MONGO_URI=

# JWT Configuration
JWT_ACCESS_SECRET=MyJwtKeyNumber
JWT_REFRESH_TOKEN=MyRefreshJwtKeyNumber

# MinIO Configuration

MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_ACCESS_KEY=gedpro_minio
MINIO_SECRET_KEY=gedpro_minio_secret
MINIO_USE_SSL=false

# App Configuration
PORT=3000
NODE_ENV=development